<div class="input {{ classes }}">
  <div class="input__wrapper">
    <label class="input__container">
      <input
        class="input__field"
        type="{{ type }}"
        placeholder="{{ placeholderLabel }}"
        name="{{ name }}"
        autocomplete="{{ autocomplete }}"
      />
      <div class="input__label">{{ label }}</div>
    </label>
  </div>

  <div class="input__errors">
<!--    <div class="input__error">Error</div>-->
  </div>
</div>
